ul.navbar-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 28rem;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    margin-right: 2rem;
    
}